@font-face {
	font-family:'ACaslonPro-Regular';
	src: url('fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/ACaslonPro-Regular.otf')  format('opentype'),
		 url('fonts/ACaslonPro-Regular.woff') format('woff'),
		 url('fonts/ACaslonPro-Regular.ttf')  format('truetype'),
		 url('fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {background:url('img/background.jpg') no-repeat center top #000;font-family:'ACaslonPro-Regular';}

h1, h2, h3, h4, h5, h6 {color:#f7e4a8;font-family:'ACaslonPro-Regular';font-weight:normal;font-size:34px;padding-top:10px;}
h2 {font-size:48px;}

a {color:#f7e4a8;}
a:hover, a.active {color:rgb(162,1,9);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}

p {color:#fff;font-size:18px;line-height:22px;}

.fullwidth, .footer .row.fullwidth {max-width:none;padding:0;}

.logo {position:absolute;width:100%;text-align:center;top:20px;z-index:99;}

.telephone {position:absolute;right:3%;top:28px;font-size:48px;color:#a20109;}

.menu {position:absolute;width:100%;max-width:none;text-align:center;top:166px;z-index:99;background:url('img/bg-menu.png') repeat-x center top;color:#f7e4a8;font-size:24px;padding-top:35px;}
.menu a {display:inline-block;color:#f7e4a8;border-bottom:6px solid transparent;}
.menu a:hover, .menu a.active {border-bottom-color:#f7e4a8;}
.menu h1 {text-indent:-9999px; font-size:0;}

.slider {position:relative;}

.swiper-container {margin:117px 0;border-bottom:14px solid #a20109;}
.swiper-slide {height:614px;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.swiper-pagination {top:765px;left:0;width:100%;}
.swiper-pagination-bullet {width:16px;height:16px;background:#fff;opacity:.3;margin:0 7px;}
.swiper-pagination-bullet-active {opacity:1;}

.page .swiper-slide {height:350px;}
.page .swiper-pagination {top:495px;}

.carte {position:absolute;z-index:90;bottom:50px;right:5%;}

.actualite {background:#a20109;text-align:center;padding:12px;cursor:pointer;}
.actualite h3 {font-size:36px;}
.actualite img {margin-bottom:27px;}
.actualite p {font-size:24px;line-height:24px;}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {font-size:inherit;box-shadow:none;}
input[type="submit"] {border-radius:0;background:#000;color:#fff;border:none;font-family:inherit;font-size:inherit;padding:10px 50px;margin-bottom:15px;cursor:pointer;}
input[type="submit"]:hover {background:#a20109;}

.actu, .temoignage {border-bottom:4px solid #a20109;padding-bottom:1rem;padding-top:1rem;}
.actu:first-of-type, .temoignage:first-of-type {padding-top:0;}
.actu:last-of-type, .temoignage:last-of-type {border:none;}

.inscription {background:#a20109;}
.inscription h3 {text-align:center;}
.inscription textarea {height:143px;resize:none;}
.inscription .columns:last-child {text-align:center;}
.inscription input[type="submit"]:hover {background:#f7e4a8;color:#000;}

.catalogue .columns {padding-bottom: 1.875rem;}

.produit {background:rgba(162,1,9,0.4);text-align:center;padding:12px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;display:block;}
.produit:hover {background:rgba(162,1,9,1);}
.produit h3 {font-size:36px;}
.produit img {margin-bottom:27px;}
.produit p {font-size:24px;line-height:24px;}

.liste-produits a {display:block;padding:0 10px;}
.liste-produits a:hover, .liste-produits a.active {background:rgb(162,1,9);color:#fff;}

.fiche img {border-bottom:14px solid #a20109;margin-top:1rem;}

.parfum {margin:0;}
.parfum li {float:left;padding:5px 10px;list-style-type:none;display:block;background:#fff;margin-right:5px;}

.contact input[type="submit"] {background:#a20109;color:#fff;}
.contact input[type="submit"]:hover {background:#f7e4a8;color:#000;}
.contact input[type="email"], .contact select {padding-top:5px;}

.wait { display:none; }
#div_success {
	border: 2px solid green;
	margin-bottom: 10px;
}
#div_success h3, #div_success p {
	color: green;
}

#div_erreur {
	border: 2px solid #A20109;
	margin-bottom: 10px;
}
#div_erreur h3, #div_erreur p {
	color: #A20109;
}

.footer {background:rgba(162,1,9,0.7);color:#fff;margin-top:120px;}
.footer .row {margin:0 auto;max-width:62.5rem;width:100%;}
.footer .large-12 {text-align:center;padding:36px 0;}
.footer input {display:inline-block;width:auto;height:auto;padding:5px 10px;color:#000;box-shadow:none;border:none;font-size:16px;}
.footer input[type='submit'] {background:#000;color:#fff;padding:0;border:0;padding:5px;vertical-align:-1px;font-size:16px;line-height:20px;margin-left:0;cursor:pointer;}
.footer .infos-footer {margin-top:220px;}
.footer .infos-footer .columns:first-child {text-align:right;padding-top:15px;}

#map-canvas {width:100%;height:350px;position:absolute;}